.title {
  padding: 30px;
  background: -webkit-linear-gradient(left, #292376, #6adefe);
  text-align: center;
  color: white;
}
.title h1 {
  font-size: 40px;
}

table {
  width: 100%;
}

.container{
  margin: 0 10%;
}

.my-table{
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(0, 0, 0);
  color:black;
  margin-top: 20px;
  border: 2px solid black;
}

.my-table th{
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(253, 243, 243);
  font-size: 25px;
  font-weight: bold;
}

.my-table td{
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(253, 243, 243);
  font-size: 20px;
}

.search{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 10px;
}

.busqueda{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.busqueda h1{
  font-size: 30px;
}


/* input style */
.mat-form-field{
  font-size: 15px;
  width: 70%;
  background-color: rgb(4, 2, 23);
  padding: 0;
  border-radius: 10px;
}

.mat-form-field input{
  text-align: center;
  color: azure;
  font-size: 30px;
}

.delete{
  cursor: pointer;
  color: #e15635;
}

.edit{
  cursor: pointer;
  color: #1878B0;
}

.search{
  cursor: pointer;
}

.iconos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.agregar{
  font-size: 10px;
  line-height: 28px;
}
