<div class="title">
  <h1>
    Ver Mascota
  </h1>
</div>

<div class="container">

  <mat-card class="card">
    <mat-card-title>Califa</mat-card-title>
    <br>
    <mat-card-content>
      <p><strong>Raza:</strong>Labrador</p>
      <p><strong>Color:</strong>Labrador</p>
      <p><strong>Peso:</strong>Labrador</p>
      <p><strong>Edad:</strong>Labrador</p>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/lista-mascotas']" color="primary" mat-raised-button>Volver</button>
    </mat-card-actions>
  </mat-card>

</div>
